.formulario{
display: flex;
flex-direction: column;
}
input{
  margin-top: 5px;
}
#cadCli{
  width: 250px;
    height: 30px;
    background-color:rgb(215, 235, 40);
    color:rgb(40, 167, 57);
    font-weight: bold;
    font-size: 1rem;
    
    

}