body{
  background-color: rgb(114, 252, 132);
  color: rgb(245, 244, 183);
  text-align: center;
  font-size: 1rem;
  border:5px dashed;
  height: 96vh;
  
  button{
    width: 250px;
    height: 30px;
    background-color:rgb(215, 235, 40);
    color:rgb(40, 167, 57);
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5px;
  }
}
